
<!DOCTYPE html>
<html>
	<head>
		
		<head>
		
		<title>Head Nurse Dashboard </title>		
		<link rel="shortcut icon" href="/static/favicon.ico" type="/static/image/x-icon">
		<link href="/static/styles/main.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/body.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/dashboard.css" type="text/css" rel="stylesheet" />		
		<link href="/static/styles/table.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/select.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/textarea.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/footer.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/button.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/styles/jquery-ui.css" />
		<meta name="author" content="Rishin Rahim | Anjitha RS |">
		<meta charset="UTF-8">
		<script src="/static/jquery-1.10.2.js"></script>
		<script src="/static/jquery-ui.js"></script>
		<script src="/static/jquery-ui-timepicker-addon.js"></script>
		<script type="text/javascript" src="/static/myscript.js"></script>
		
  
		</head>
	
	
	<body >
		<div class="wrapper">	
			
			<div class="pagetitle " >
				
				<div class="imagelogo"><img src="/static/image/logo.png" height="25" alt="logo" /> 	</div>
				<div class="logotitle"><span class="blue"> Neurosurgical </span><span class="green"> eLog </span></div>
				<span id="date"></span>
			</div>		
				
			<div class="profiletab">
					<div class="profile-name ">Head Nurse</div>	
					
					<div class="nav">
					<ul>
					<li ><a href="/headnurse">Dashboard</a></li>
					
					
					<li id="bnone"><a href="/headsetting">Settings</a></li>
					<li id="red"><a href="/logout">Log out</a></li>
					</ul>
					</div>
										
				</div>	
			
			
				
				
		
				
			
				
				
				<div class="dashboard-details">
					
					<div ><br />&nbsp;&nbsp;You have successfully Send an Alert to the Surgeon &nbsp; <a href="/headnurse" style="color:blue;">Back</a></div>
					
				</div>
				</div>
				
			
			
			
			
			
			
			
		</div>
		
		
		
		
		
	</div>
		
	
	</body>
</html