$def with (result,result1)
<!DOCTYPE html>
<html>
	<head>
		
		<title>Head Nurse Dashboard </title>		
		<link rel="shortcut icon" href="/static/favicon.ico" type="/static/image/x-icon">
		<link href="/static/styles/main.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/popup.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/body.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/dashboard1.css" type="text/css" rel="stylesheet" />		
		<link href="/static/styles/table.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/select.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/textarea.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/footer.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/button.css" type="text/css" rel="stylesheet" />
		<meta name="author" content="Rishin Rahim | Anjitha RS | ">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/styles/jquery-ui.css" />
		<script src="/static/jquery-1.10.2.js"></script>
		<script src="/static/jquery-ui.js"></script>
		<script src="/static/jquery-ui-timepicker-addon.js"></script>
		<script type="text/javascript" src="/static/myscript.js"></script>
		</head>
	
	
	<body >
		<div class="wrapper">	
			
			<div class="pagetitle " >
				
				<div class="imagelogo"><img src="/static/image/logo.png" height="25" alt="logo" /> 	</div>
				<div class="logotitle"><span class="blue"> Neurosurgical </span><span class="green"> eLog </span></div>
				<span id="date"></span>
			</div>		
				
			<div class="profiletab">
					<div class="profile-name ">Head Nurse</div>	
					
					<div class="nav">
					<ul>
				<li><a href="/headnurse">Dashboard</a></li>
					
					
					<li  class="active" id="bnone"><a href="/headsetting">Settings</a></li>
					<li id="red"><a href="/logout">Log out</a></li>
					</ul>
					</div>
										
				</div>	
			
			
				
				
		
				
				
				<div class="pageheader phr">
				
				
			<form method="POST">
								<table class="nursetable">
								<tr><td>Surgeon Name</td>
								<td>
								
								<select name="name">
									$for user in result1:
										<option>$user.name</option>
								</select>
								
								</td>
								<td>Date Of Operation</td><td><input type="text" name="date" class="login-text-area2" id="datepicker" required >
								<input type="text" class="small-text-area" id="start" name="time"></td>
								
								
								<td><input type="submit" class="adbtn" value="Alert" /></td></tr>
								</table>
								</form>
				
			
				
				</div>
				
		
					<div class="log-table-body">
				<table class="viewlogtable collapse" id="viewlogtable">
					<tbody>
					<tr id="tablehead" >
					<td id="col_1">Case ID</td>
					<td id="col_2">Date</td>
					<td id="col_2">Time</td>
					<td id="col_3">Hospital ID</td>
					<td id="col_4">Patient Name</td>
					<td id="col_3">Age</td>
					<td id="col_3">G</td>
					<td id="col_8">Primary Surgeon</td>
					<td id="col_9">Asst I</td>
					<td id="col_10">Asst II</td>
					<td id="col_17">Suprvisr</td>
					<td id="col_11">Anst.</td>
					<td id="col_11">scrub</td>
					<td id="col_12">Location</td>
					<td id="col_12">Diagnosis</td>
					<td id="col_12">Operative</td>
					<td id="col_12">Procedure</td>
					<td id="col_17">Side</td>
					

					$for case in result:
						<tr>
						<td >$case.caseid</td>
						<td >$case.date</td>
						<td> $case.time</td>
						<td >$case.hospid</td>
						<td >$case.pname</td>
						<td >$case.page</td>
						<td >$case.psex</td>
						<td >$case.psid</td>					
						<td >$case.faid</td>					
						<td >$case.said</td>					
						<td >$case.spid</td>					
						<td >$case.anst</td>					
						<td >$case.scrub</td>					
						<td >$case.floc</td>					
						<td >$case.fdiag</td>					
						<td >$case.opid</td>					
						<td >$case.fpro</td>					
						<td >$case.sdid</td>
						
						</tr>
						
					
					
					
					
					
					</tbody>
				</table>					
					</div>
		
		
		
	</div>
		
	
	</body>
</html>