$def with (name,result)
<!DOCTYPE html>
<html>
	<head>
		
		<title>Notification </title>		
		<link rel="shortcut icon" href="/static/favicon.ico" type="/static/image/x-icon">
		<link href="/static/styles/main.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/body.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/table.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/select.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/textarea.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/footer.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/button.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/styles/jquery-ui.css" />
		<meta name="author" content="Rishin Rahim | Anjitha RS | ">
		<meta charset="UTF-8">
		<script src="/static/jquery-1.10.2.js"></script>
		<script src="/static/jquery-ui.js"></script>
		<script src="/static/jquery-ui-timepicker-addon.js"></script>
		<script type="text/javascript" src="/static/myscript.js"></script>

	
	


		</head>
	
	
	<body >
		<div class="wrapper">	
			
			<div class="pagetitle" >
				
				<div class="imagelogo"><img src="/static/image/logo.png" height="25" alt="logo" /> 	</div>
				<div class="logotitle"><span class="blue"> Neurosurgical <span class="green"> eLog </div>
				<span id="date">
				
				
			</div>		
				
			<div class="profiletab">
					<div class="profile-name"><a href="/surgeon">Dr. $name</a></div>	
					
					<div class="nav">
					<ul>
					
					<li ><a href="/surgeonaddlog">Add Log</a></li>
					<li><a href="/surgeonviewlog">View Log</a></li>
					<li ><a href="/surgeoneditlog">Edit log</a></li>
					<li  ><a href="/surgeonnotification">Alerts</a></li>
					<li ><a href="/surgeonsetting">Settings</a></li>
					<li id="red"><a href="/logout">Log out</a></li>
					</ul>
					</div>
										
				</div>	
			
			
	<div class="pageheader">			
<div style="float:left;margin-left:60px;margin-Top:7px; "><img  src="/static/image/notif.png" height="22" width="22" style="padding-right:4px;" alt="icon">Alerts</div>
				<ul class="xxyy ">
				<li><form method="POST"><input type="submit" value="Clear Alerts" class="btn" ></form></li>
				</ul>
				
				</div>
				
				
	<div class="mainbody">
				<div class="notif">
				<table class="notiftable">
				
				$for users in result:
					<tr><td>$users.l<td>You have missed a case on </td><td><b>$users.date </b>Time:<b> $users.time</b></td></tr>
				</table>
				</div>
	
	</div>
			
		
		
		
		
		
		
	</div>
		
	
	</body>
</html>