<!DOCTYPE html>
<html>
	<head>
		
		<title>Error Unauthorized</title>		
		<link rel="shortcut icon" href="image/logo.png" />
		<link href="/static/styles/main.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/body.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/table.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/select.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/textarea.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/footer.css" type="text/css" rel="stylesheet" />
		<link href="/static/styles/button.css" type="text/css" rel="stylesheet" />
		<meta name="author" content="Rishin Rahim | Anjitha RS |">
		<meta charset="UTF-8">
		<script src="jquery-1.10.2.js"></script>
		<script src="jquery-ui.js"></script>
		<script type="text/javascript" src="myscript.js"></script>
		</head>
	
	
	<body >
		<div class="wrapper">	
			
			<div class="pagetitle " >
				
				<div class="imagelogo"><img src="/static/image/logo.png" height="25" alt="logo" /> 	</div>
				<div class="logotitle"><span class="blue"> Neurosurgical <span class="green"> eLog </div>
				<span id="date">
			</div>		
			
			
			<div class="profiletab">
			
			
										
				</div>	
				<div style="margin-left:40px "><br />
				Sorry!!! You have to login to View this page.<a href="/" style="color:blue">Login Page</a>
			</div>
				
			<div class="footer"	>
			
			<div>NeuroSurgical ELog&copy;2013 | Developed By IIITMK</div>
			
			</div>
		
		
		</div>