	#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:200px;  
    width:500px;  
    background:#89c403;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
	font-family: "wf_SegoeUILight","Segoe UI",arial;
	
	text-align:center;
	font-weight:100;
	
	
    
    /* additional features, can be omitted */
    border:1px solid #000000;      
    padding:0px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
    
}

#container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}
#poptext
{color:white;
font-size:20px;margin-top:50px;}
a{  
cursor: pointer;  
text-decoration:none;  
} 


/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
#popupBoxClose:hover{color:white;}
.no
{
background-color:#89c403;
height:170px;
}